@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

body {
	color: #aaa;
	background: #333 url('fade.png') top repeat-x;
	font-family: 'Open Sans', Helvetica;
	text-align: center;

}

a {
	color: #aaa;
	text-decoration: none;
}

a:hover { text-decoration: underline;}
