body {
	color: #aaa;
	background: #333 url('fade.png') top repeat-x;
	font-family: Helvetica;
	text-align: center;
}

a {
	color: #aaa;
	text-decoration: none;
}

a:hover { text-decoration: underline;}
